/*TODO LO RELACIONADO CON LA CARTA GRANDE*/
.container_big_pokemon{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(350px, 2fr) minmax(300px, 1fr);
    color: #ffffff;
}

/*ESTILO DE INFORMACION DEL NOMBRE Y ESTADISTICAS*/
.container_big_pokemon_title-stats{
    /*Contenedor padre donde se ve el nombre/numero del pokemon y sus estadisticas*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/*ESTILOS DE LA IMAGEN DEL POKEMON*/
.container_big_pokemon_img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media screen and (width < 550px){
    .container_big_pokemon{
        grid-template-columns: 1fr;
        height: auto;
        gap: 15px;
    }

    .container_big_pokemon_title-stats{
        gap: 15px;
    }

    .container_big_pokemon_img{
        padding-inline: 20px;
    }

    .container_big_pokemon_info{
        gap: 15px;
    }

}

@media screen and (width <= 900px) and (width > 420px){

    .container_big_pokemon{
        grid-template-columns: minmax(350px, 1fr);
        gap: 30px;
    }

    .container_big_pokemon_title-stats{
        gap: 20px;
    }

    .container_big_pokemon_img{
        overflow: inherit;
    }

    .container_big_pokemon_info{
        gap: 20px;
    }
}