.all_container_options{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_options{
    max-width: 580px;
    width: 100%;
    height: auto;
}