/*TEXTOS*/
.big_pokemon_stats-items, .big_pokemon_stats_items-data, .big_pokemon_info-items, .big_pokemon_info_items-data{
    font-size: 1.2em;
}

/*----------------------ANIMACIONES----------------------*/


@keyframes moveInfo{
    0%{
        overflow: hidden;
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
/*----------------------RESPONSIVE----------------------*/

@media screen and (width <= 900px) and (width > 420px){


    .box_big_pokemon_stats{
        justify-content: center;
    }
    .big_pokemon_title {
        font-size: 2.5em;
    }
    .big_pokemon_stats-items, .big_pokemon_stats_items-data, .big_pokemon_info-items, .big_pokemon_info_items-data{
        font-size: 1.3em;
    }
    .big_pokemon_stats-progress{
        gap: 17px;
    }
    
}