
/*CAJA DE LOS ICONOS PARA VOLVER AL INICIO*/
.box_button_back{
    top: 0;
    right: 0;
    position: fixed;
    padding: 20px;
    z-index: 999;
}
.button_back-icon{
    cursor: pointer;
    font-size: 2em;
    color: var(--yellow);
    text-shadow: 0px 0px 7px var(--yellow),0px 0px 20px var(--orange);
    transition: transform 200ms ease-in;
}

.button_back-icon:hover{
    transform: scale(1.1);
}

/*TEXTOS*/
.big_pokemon_stats-items, .big_pokemon_stats_items-data, .big_pokemon_info-items, .big_pokemon_info_items-data{
    font-size: 1.2em;
}

/*----------------------ANIMACIONES----------------------*/


@keyframes moveInfo{
    0%{
        overflow: hidden;
        width: 0px;
    }
    100%{
        width: 100%;
    }
}
/*----------------------RESPONSIVE----------------------*/

@media screen and (width <= 900px) and (width > 420px){


    .box_big_pokemon_stats{
        justify-content: center;
    }
    .big_pokemon_title {
        font-size: 2.5em;
    }
    .big_pokemon_stats-items, .big_pokemon_stats_items-data, .big_pokemon_info-items, .big_pokemon_info_items-data{
        font-size: 1.3em;
    }
    .big_pokemon_stats-progress{
        gap: 17px;
    }
    
}