/*Caja padre que contiene todo el contenido de la carta*/
.containerCard{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding-inline: 10px;
    overflow: hidden;
}

.cardName{
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 2px;
    padding: 5px;
    text-transform: uppercase;
    /*Nombre del pokemon*/
}

.containerPokeImg{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0px;
    /*Caja Imagen del pokemon*/
}

.imagen{
    width: 100%;
    transition: transform ease-in .3s;
    z-index: 999;
    outline: none;
    border: 0px;
    /*Imagen del pokemon*/
}

.pokeImgFondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 0px;
    outline: none;
    margin: 0;
    transition: transform ease-in .3s;
    padding: 130px;
    /*Imagen de fondo, es el circulo de fondo del pokemon*/
}

/*HOVER DE LAS IMAGENES DE LOS POKEMONES*/
.containerPokeImg:hover > .pokeImgFondo{
    transform: rotate(90deg);
}

.containerPokeImg:hover > .imagen{
    transform: scale(1.1);
}

.carta_info{
    /*Container de la informacion del pokemon "Numero y tipo"*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.carta_info_numero p{
    font-size: 2.5em;
}

.carta_estadisticas{
    /*Contenedor de las estadisticas del pokemon "HP-ATT-DEF*/
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 3px 0px;
}

.no_ver{
    display: none;
}

/*Mensaje de error cuando el pokemon escrito no se encuentra*/

.container_error{
    max-width: 1000px;
    flex-wrap: wrap;
    color: #ff1818;
    display: none;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.container_error img{
    width: 180px;
    height: 180px;
    filter: drop-shadow(0px 0px 10px var(--electric));
}

.error_texto{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_error{
    font-size: 1.5em;
    text-shadow: 0px 0px 15px #ff1818;
}

/*<----------RESPONSIVE---------->*/
@media screen and (max-width: 420px){

    .texto_error{
        text-align: center;
    }
}

/*Colores para la sombras externas de las cartas*/
.categoriaCarta_fire{
    border: 2px solid var(--fire);
    box-shadow: 0px 0px 15px 0px var(--fire);
}
.categoriaCarta_flying{
    border: 2px solid var(--flying);
    box-shadow: 0px 0px 15px 0px var(--flying);
    
}
.categoriaCarta_poison{
    border: 2px solid var(--poison);
    box-shadow: 0px 0px 15px 0px var(--poison);

}
.categoriaCarta_ghost{
    border: 2px solid var(--ghost);
    box-shadow: 0px 0px 15px 0px var(--ghost);
}
.categoriaCarta_steel{
    border: 2px solid var(--steel);
    box-shadow: 0px 0px 15px 0px var(--steel);
}
.categoriaCarta_ground{
    border: 2px solid var(--ground);
    box-shadow: 0px 0px 15px 0px var(--ground);
}
.categoriaCarta_rock{
    border: 2px solid var(--rock);
    box-shadow: 0px 0px 15px 0px var(--rock)
}
.categoriaCarta_grass{
    border: 2px solid var(--grass);
    box-shadow: 0px 0px 15px 0px var(--grass);

}
.categoriaCarta_water{
    border: 2px solid var(--water);
    box-shadow: 0px 0px 15px 0px var(--water)
}
.categoriaCarta_electric{
    border: 2px solid var(--electric);
    box-shadow: 0px 0px 15px 0px var(--electric);
}
.categoriaCarta_fairy{
    border: 2px solid var(--fairy);
    box-shadow: 0px 0px 15px 0px var(--fairy)
}
.categoriaCarta_psychic{
    border: 2px solid var(--pychic);
    box-shadow: 0px 0px 15px 0px var(--pychic);
}
.categoriaCarta_dragon{
    border: 2px solid var(--dragon);
    box-shadow: 0px 0px 15px 0px var(--dragon);
}
.categoriaCarta_ice{
    border: 2px solid var(--ice);
    box-shadow: 0px 0px 15px 0px var(--ice);
}
.categoriaCarta_bug{
    border: 2px solid var(--bug);
    box-shadow: 0px 0px 15px 0px var(--bug);
}
.categoriaCarta_normal{
    border: 2px solid var(--normal);
    box-shadow: 0px 0px 15px 0px var(--normal);

}
.categoriaCarta_fighting{
    border: 2px solid var(--fighting);
    box-shadow: 0px 0px 15px 0px var(--fighting);
}