main{
    width: 100%;
    padding-inline: 50px;
    margin: 30px 0px 50px 0px;
}

.allContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    overflow: visible !important;
}

/*<----------RESPONSIVE---------->*/
@media screen and (max-width: 420px){
    .allContainer{
        grid-template-columns: 1fr;
    }
}

@media screen and (width <= 900px) and (width > 420px){
    .allContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width <= 1100px) and (width > 900px){
    .allContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}