@import url('https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans+JP:wght@300&family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Noto+Sans+JP:wght@300&family=Teko&family=Tektur&display=swap');



/*Titulo del quiz, siempre va estar presente*/
.container_title{
    height: 80px;/*En el inicio tendrá 100px*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_quiz{
    color: var(--azulNeon);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px var(--azulNeon) , 0px 0px 2px var(--azulNeon);
    font-size: 2em;/*En el inicio tendrá 2.5em*/
    text-align: center;
}
/*--------INICIO--------*/
/*Botones del inicio antes de comenzar el quiz*/


.regresar{
    width: 100%;
}
/*----------QUIZ----------*/

.quiz{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz_options-item{
    padding: 5px 20px;
    font-size: 1.2em;
    border: 2px solid var(--azulNeon);
    background-color: transparent;
    color: var(--azulNeon);
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 20px var(--azulNeon);
    transition: all ease-in .2s;
    flex-basis: 200px;
}

.quiz_options-item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px var(--azulNeon);
}

.button_again{
    display: none;
}

.loader{
    display: flex;
}

/*----------RESPONSIVE----------*/

@media screen and (width < 550px){
    .all_container_quiz{
        height: auto;
        gap: 10px;
        margin-bottom: 10px;
    }

    

    
    .quiz{
        gap: 10px;
    }

    .container_title{
        height: auto;/*En el inicio tendrá 100px*/
        padding: 10px;
    }

    .title_quiz{
        font-size: 1.5em;/*En el inicio tendrá 2.5em*/
    }

    



    

    .container_quiz{
        gap: 0px;
    }

    

    .loader{
        height: calc(100vh - 92px);
        align-items: center;
        justify-content: center;
    }
}

/*Clases JAVASCRIPT*/

.desaparece{
    display: none;
}
