/*Frame de presentacion*/
.container_titulo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #000000;
    z-index: 1000;
}

.letras_titulo{
    font-size: 10em;
    list-style: none;
    font-family: var(--fuente);
    text-shadow: none;
    animation: animation_titulo2 2s infinite alternate;
}

.letras_titulo-responsive{
    font-size: 10em;
    list-style: none;
    font-family: var(--fuente);
    text-shadow: none;
    animation: animation_titulo2 2s infinite alternate;
    display: none;
}
/*Fin del frame de presentacion*/

@keyframes animation_titulo2 {
    0%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #fff900;
        text-shadow: 0px 0px 7px #fff900,0px 0px 20px #ff6c00;
    }
    35%{
        color: #484848;
        text-shadow: none;
    }
    55%{
        color: #fff900;
        text-shadow: 0px 0px 7px #fff900,0px 0px 20px #ff6c00; 
    }
    100%{
        color: #fff900;
        text-shadow: 0px 0px 7px #fff900, 0px 0px 20px #ff6c00;
    }
}

/*Barra de navegacion*/

/*Contenedor padre*/
.nav_bar{
    width: 100%;
    font-family: var(--fuente);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 3rem;
    margin-top: 30px;
}

.title_nav_h1{
    color: var(--yellow);
    letter-spacing: 20px;
    text-shadow: 0px 0px 7px var(--yellow),0px 0px 20px var(--orange);
    font-size: 2em;
}

/*Titulo POKEMON mas imagen de pokebolla*/
.title_nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon_poke{
    width: 50px;
    height: 50px;
}
.icon_poke-second{
    display: none;
}

/*Input buscador*/
.search_input{
    width: 0px;
    height: 34px;
    padding: 0px;
    border-radius: 20px 0px 00px 20px;
    border: 0px solid var(--yellow);
    background-color: #000000;
    box-shadow: 0px 0px 7px 0px var(--yellow),0px 0px 10px 0px var(--orange);
    outline: none;
    color: #ffffff;
    font-family: var(--fuente);
    font-size: 0px;
    transition: all ease-in-out .5s;
}

.container_search{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.container_item-search--responsive{
    display: none;
}
.item_search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container_search i{
    font-size: 2.2em;
    color: var(--yellow);
    text-shadow: 0px 0px 7px var(--yellow),0px 0px 10px var(--orange);
    cursor: pointer;
    transition: all ease .2s;
}

.container_search i:hover{
    color: var(--orange);
    text-shadow: 0px 0px 7px var(--orange),0px 0px 10px var(--yellow);
}

.container_item-search{
    display: flex;
    align-items: center;
    gap: 10px;
}

#icon_menu{
    display: none;
}

/*Clase del click del input*/
.search_input_visible{
    padding: 5px;
    width: 250px;
    border: 2px solid var(--yellow);
    font-size: 15px;
}

/*Esto es para que el contenido del input se muestre a la derecha*/
.search_input::placeholder, input[type="search"]{
    text-align: right;
}
/*Y nada mas*/
#button_filters{
    display: none;
}
/*Caja contenedora de los filtros*/
.container_filters{
    width: 100%;
    padding: 8px 50px;
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
    margin-top: 15px;
}

/*Diseño del boton*/
.button_filters_items{
    background-color: black;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: .25rem 1rem;
    transition: transform ease-in 200ms;
}

.button_filters_items:hover{
    transform: scale(1.1);
}

/*RESPONSIVEEEEEE*/

@media screen and (max-width: 420px) {
    /* Frame de presentacion*/
    .container_titulo{
        gap: 0px;
        flex-direction: column;
    }
    .letras_titulo{
        display: none;
    }
    .letras_titulo-responsive{
        font-size: 5em;
        display: block;
    }
    /*Barra de navegacion*/
    .nav_bar{
        padding-inline: 1rem;
        gap: 10px;
    }
    .icon_poke{
        width: 30px;
        height: 30px;
    }
    .icon_poke, .container_search img{
        display: none;
    }
    .container_search{
        justify-items: flex-start;
    }
    .container_search i{
        font-size: 2em;
    }
    .container_item-search{
        flex-direction: row-reverse;
        width: 345px;
        justify-content: start;
        z-index: 9999;
    }
    .item_search-input{
        flex-direction: row-reverse;
    }
    .container_item-search--no_ver{
        display: none;
    }
    .item_search{
        /*Ocultamos los otros iconos*/
        display: none;
    }
    #icon_menu-close{
        font-size: 2em;
        color: var(--yellow);
        text-shadow: 0px 0px 7px var(--yellow),0px 0px 20px var(--orange);
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        transition: transform 300ms ease-in;
    }

    #icon_menu-close:hover{
        transform: scale(1.1);
    }

    .container_item-search--responsive{
        /*Caja padre donde está contenida el menú que solo se verá cuando esté en telefono*/
        background-color: #000000;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        transform: translate(0%);
        transition: transform 300ms ease-in;
    }

    .box_item-search--responsive{
        /*Caja que contiene los iconos del menu junto con el texto*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: 100%;
        max-width: 300px;
    }

    .box_item-search--responsive a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: var(--yellow);
        transition: transform 300ms ease-in;
    }
    .box_item-search--responsive a:hover{
        transform: scale(1.1);
    }
    .item_search--responsive_p, .item_search--responsive_i{
        font-size: 2em;
        text-shadow: 0px 0px 7px var(--yellow),0px 0px 20px var(--orange);
    }
    .container_item-search--change{
        /*INPUT + BOTON PARA MENU*/
        justify-content: space-between;
    }
    .title_nav{
        width: 100%;
        justify-content: center;
    }
    .title_nav_h1{
        margin-right: -20px;
        font-size: 2.9rem;
        max-width: 340px;
    }

    /*Input para buscar*/

    .container_search{
        padding-inline: 6px;
        width: 100%;
        gap: 20px;
    }

    .search_input::placeholder, input[type="search"]{
        text-align: left;
    }

    .search_input{
        border-radius: 0px 20px 20px 0px;
    }

    .search_input_visible{
        padding: 5px;
        width: 240px;
        border: 2px solid var(--yellow);
        font-size: 15px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
    }
    
    /* Boton de filtros */
    .container_filters{
        padding-inline: 1rem;
        margin-top: 20px;
    }

    .button_filters_items{
        flex-grow: 1;
    }

    #button_filters{
        display: block;
    }

    .container_filters{
        height: 0px;
        overflow: hidden;
        padding: 0px;
        transition: all ease .5s;
    }

    .container_filters_visible{
        height: 320px;
        padding: 8px 16px;
    }
}

@media screen and (width <= 900px) and (width > 420px){
    .letras_titulo{
        display: none;
    }
    .letras_titulo-responsive{
        font-size: 10em;
        display: block;
    }
    .container_titulo{
        gap: 0px;
        flex-direction: column;
    }
    .icon_poke{
        display: none;
    }
    .container_filters{
        justify-content: center;
    }
    .search_input_visible{
        width: 200px;
    }
}

@media screen and (width <= 1100px) and (width > 900px){
    .letras_titulo{
        font-size: 6em;
    }
}

/*CLASES JAVASCRIPT*/

.move_menu{
    transform: translate(100%);
}