.big_pokemon_habilidades{
    background-color: #D9D9D920;
    padding: 10px 20px;
    position: relative;
    animation: moveInfo 800ms ease-out normal;
}

.big_pokemon_habilidades h3{
    font-size: 1.5em;
    letter-spacing: 3px;
}

.big_pokemon_habilidades_items-data{
    white-space: nowrap;
}

.span_arreglo{
    text-transform: capitalize;/*Pone la primera letra en mayuscula pero solo funciona si solo es una palabra*/
}

@keyframes moveInfo{
    0%{
        overflow: hidden;
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

@media screen and (width <= 900px) and (width > 420px){
    .big_pokemon_habilidades h3{
        font-size: 2.5em;
    }
}
