/*Color de los botones segun el tipo de pokemon FILTRADO*/
.all{
    border: 2px solid var(--normal);
    box-shadow: 0px 0px 10px 0px var(--normal);
}
.fire{
    border: 2px solid var(--fire);
    box-shadow: 0px 0px 10px 0px var(--fire);
}
.flying{
    border: 2px solid var(--flying);
    box-shadow: 0px 0px 10px 0px var(--flying);
}
.poison{
    border: 2px solid var(--poison);
    box-shadow: 0px 0px 10px 0px var(--poison);
}
.ghost{
    border: 2px solid var(--ghost);
    box-shadow: 0px 0px 10px 0px var(--ghost);
}
.steel{
    border: 2px solid var(--steel);
    box-shadow: 0px 0px 10px 0px var(--steel);
}
.ground{
    border: 2px solid var(--ground);
    box-shadow: 0px 0px 10px 0px var(--ground);
}
.rock{
    border: 2px solid var(--rock);
    box-shadow: 0px 0px 10px 0px var(--rock);
}
.grass{
    border: 2px solid var(--grass);
    box-shadow: 0px 0px 10px 0px var(--grass);
}
.water{
    border: 2px solid var(--water);
    box-shadow: 0px 0px 10px 0px var(--water);
}
.electric{
    border: 2px solid var(--electric);
    box-shadow: 0px 0px 10px 0px var(--electric);
}
.fairy{
    border: 2px solid var(--fairy);
    box-shadow: 0px 0px 10px 0px var(--fairy);
}
.psychic{
    border: 2px solid var(--pychic);
    box-shadow: 0px 0px 10px 0px var(--pychic);
}
.dragon{
    border: 2px solid var(--dragon);
    box-shadow: 0px 0px 10px 0px var(--dragon);
}
.ice{
    border: 2px solid var(--ice);
    box-shadow: 0px 0px 10px 0px var(--ice);
}
.bug{
    border: 2px solid var(--bug);
    box-shadow: 0px 0px 10px 0px var(--bug);
}
.normal{
    border: 2px solid var(--normal);
    box-shadow: 0px 0px 10px 0px var(--normal);
}
.fighting{
    border: 2px solid var(--fighting);
    box-shadow: 0px 0px 10px 0px var(--fighting);
}
.dark{
    border: 2px solid var(--dark);
    box-shadow: 0px 0px 10px 0px var(--dark);
}

/*Colores para la categorias dentro de las cartas TYPES*/
.type_fire{
    border: 2px solid var(--fire);
    box-shadow: 0px 0px 10px 0px var(--fire);
    background-color: var(--fire);
    color: #ffffff;
}
.type_flying{
    border: 2px solid var(--flying);
    box-shadow: 0px 0px 10px 0px var(--flying);
    background-color: var(--flying);
    color: var(--black);
}
.type_poison{
    border: 2px solid var(--poison);
    box-shadow: 0px 0px 10px 0px var(--poison);
    background-color: var(--poison);
    color: #ffffff;
}
.type_ghost{
    border: 2px solid var(--ghost);
    box-shadow: 0px 0px 10px 0px var(--ghost);
    background-color: var(--ghost);
    color: var(--black);
}
.type_steel{
    border: 2px solid var(--steel);
    box-shadow: 0px 0px 10px 0px var(--steel);
    background-color: var(--steel);
    color: var(--black);
}
.type_ground{
    border: 2px solid var(--ground);
    box-shadow: 0px 0px 10px 0px var(--ground);
    background-color: var(--ground);
    color: var(--black);
    color: var(--black);
}
.type_rock{
    border: 2px solid var(--rock);
    box-shadow: 0px 0px 10px 0px var(--rock);
    background-color: var(--rock);
    color: var(--black);
}
.type_grass{
    border: 2px solid var(--grass);
    box-shadow: 0px 0px 10px 0px var(--grass);
    background-color: var(--grass);
    color: var(--black);
}
.type_water{
    border: 2px solid var(--water);
    box-shadow: 0px 0px 10px 0px var(--water);
    background-color: var(--water);
    color: #ffffff;
}
.type_electric{
    border: 2px solid var(--electric);
    box-shadow: 0px 0px 10px 0px var(--electric);
    background-color: var(--electric);
    color: var(--black);
}
.type_fairy{
    border: 2px solid var(--fairy);
    box-shadow: 0px 0px 10px 0px var(--fairy);
    background-color: var(--fairy);
    color: var(--black);
}
.type_psychic{
    border: 2px solid var(--pychic);
    box-shadow: 0px 0px 10px 0px var(--pychic);
    background-color: var(--pychic);
    color: #ffffff;
}
.type_dragon{
    border: 2px solid var(--dragon);
    box-shadow: 0px 0px 10px 0px var(--dragon);
    background-color: var(--dragon);
    color: #ffffff;
}
.type_ice{
    border: 2px solid var(--ice);
    box-shadow: 0px 0px 10px 0px var(--ice);
    background-color: var(--ice);
    color: var(--black);
}
.type_bug{
    border: 2px solid var(--bug);
    box-shadow: 0px 0px 10px 0px var(--bug);
    background-color: var(--bug);
    color: var(--black);
}
.type_normal{
    border: 2px solid var(--normal);
    box-shadow: 0px 0px 10px 0px var(--normal);
    background-color: var(--normal);
    color: var(--black);
}
.type_fighting{
    border: 2px solid var(--fighting);
    box-shadow: 0px 0px 10px 0px var(--fighting);
    background-color: var(--fighting);
    color: var(--black);
}
.type_dark{
    border: 2px solid var(--dark);
    box-shadow: 0px 0px 10px 0px var(--dark);
    background-color: var(--dark);
    color: #ffffff;
}

/*Colores para la sombras externas de las cartas*/
.categoriaCarta_fire{
    border: 2px solid var(--fire);
    box-shadow: 0px 0px 15px 0px var(--fire);
}
.categoriaCarta_flying{
    border: 2px solid var(--flying);
    box-shadow: 0px 0px 15px 0px var(--flying);
    
}
.categoriaCarta_poison{
    border: 2px solid var(--poison);
    box-shadow: 0px 0px 15px 0px var(--poison);

}
.categoriaCarta_ghost{
    border: 2px solid var(--ghost);
    box-shadow: 0px 0px 15px 0px var(--ghost);
}
.categoriaCarta_steel{
    border: 2px solid var(--steel);
    box-shadow: 0px 0px 15px 0px var(--steel);
}
.categoriaCarta_ground{
    border: 2px solid var(--ground);
    box-shadow: 0px 0px 15px 0px var(--ground);
}
.categoriaCarta_rock{
    border: 2px solid var(--rock);
    box-shadow: 0px 0px 15px 0px var(--rock)
}
.categoriaCarta_grass{
    border: 2px solid var(--grass);
    box-shadow: 0px 0px 15px 0px var(--grass);
}
.categoriaCarta_water{
    border: 2px solid var(--water);
    box-shadow: 0px 0px 15px 0px var(--water)
}
.categoriaCarta_electric{
    border: 2px solid var(--electric);
    box-shadow: 0px 0px 15px 0px var(--electric);
}
.categoriaCarta_fairy{
    border: 2px solid var(--fairy);
    box-shadow: 0px 0px 15px 0px var(--fairy)
}
.categoriaCarta_psychic{
    border: 2px solid var(--pychic);
    box-shadow: 0px 0px 15px 0px var(--pychic);
}
.categoriaCarta_dragon{
    border: 2px solid var(--dragon);
    box-shadow: 0px 0px 15px 0px var(--dragon);
}
.categoriaCarta_ice{
    border: 2px solid var(--ice);
    box-shadow: 0px 0px 15px 0px var(--ice);
}
.categoriaCarta_bug{
    border: 2px solid var(--bug);
    box-shadow: 0px 0px 15px 0px var(--bug);
}
.categoriaCarta_normal{
    border: 2px solid var(--normal);
    box-shadow: 0px 0px 15px 0px var(--normal);
}
.categoriaCarta_fighting{
    border: 2px solid var(--fighting);
    box-shadow: 0px 0px 15px 0px var(--fighting);
}
.categoriaCarta_dark{
    border: 2px solid var(--dark);
    box-shadow: 0px 0px 15px 0px var(--dark);
}

/*Clases para cambiar el fondo*/
.imgFondo_fire{
    background-image: url(/public/img/circlesBackground/circleBackground_fire.png);
}
.imgFondo_flying{
    background-image: url(/public/img/circlesBackground/circleBackground_flying.png);
}
.imgFondo_poison{
    background-image: url(/public/img/circlesBackground/circleBackground_poison.png);
}
.imgFondo_ghost{
    background-image: url(/public/img/circlesBackground/circleBackground_ghost.png);
}
.imgFondo_steel{
    background-image: url(/public/img/circlesBackground/circleBackground_steel.png);
}
.imgFondo_ground{
    background-image: url(/public/img/circlesBackground/circleBackground_ground.png);
}
.imgFondo_rock{
    background-image: url(/public/img/circlesBackground/circleBackground_rock.png);
}
.imgFondo_grass{
    background-image: url(/public/img/circlesBackground/circleBackground_grass.png);
}
.imgFondo_water{
    background-image: url(/public/img/circlesBackground/circleBackground_water.png);
}
.imgFondo_electric{
    background-image: url(/public/img/circlesBackground/circleBackground_electric.png);
}
.imgFondo_fairy{
    background-image: url(/public/img/circlesBackground/circleBackground_fairy.png);
}
.imgFondo_psychic{
    background-image: url(/public/img/circlesBackground/circleBackground_psychic.png);
}
.imgFondo_dragon{
    background-image: url(/public/img/circlesBackground/circleBackground_dragon.png);
}
.imgFondo_ice{
    background-image: url(/public/img/circlesBackground/circleBackground_ice.png);
}
.imgFondo_bug{
    background-image: url(/public/img/circlesBackground/circleBackground_bug.png);
}
.imgFondo_normal{
    background-image: url(/public/img/circlesBackground/circleBackground_normal.png);
}
.imgFondo_fighting{
    background-image: url(/public/img/circlesBackground/circleBackground_fighting.png);
}
.imgFondo_dark{
    background-image: url(/public/img/circlesBackground/circleBackground_dark.png);
}

/*Clases para cambiar el borde de las estadisticas*/
.estadistica_borde_fire{
    border: 2px solid var(--fire);
}
.estadistica_borde_flying{
    border: 2px solid var(--flying);
}
.estadistica_borde_poison{
    border: 2px solid var(--poison);
}
.estadistica_borde_ghost{
    border: 2px solid var(--ghost);
}
.estadistica_borde_steel{
    border: 2px solid var(--steel);
}
.estadistica_borde_ground{
    border: 2px solid var(--ground);
}
.estadistica_borde_rock{
    border: 2px solid var(--rock);
}
.estadistica_borde_grass{
    border: 2px solid var(--grass);
}
.estadistica_borde_water{
    border: 2px solid var(--water);
}
.estadistica_borde_electric{
    border: 2px solid var(--electric);
}
.estadistica_borde_fairy{
    border: 2px solid var(--fairy);
}
.estadistica_borde_psychic{
    border: 2px solid var(--pychic);
}
.estadistica_borde_dragon{
    border: 2px solid var(--dragon);
}
.estadistica_borde_ice{
    border: 2px solid var(--ice);
}
.estadistica_borde_bug{
    border: 2px solid var(--bug);
}
.estadistica_borde_normal{
    border: 2px solid var(--normal);
}
.estadistica_borde_fighting{
    border: 2px solid var(--fighting);
}
.estadistica_borde_dark{
    border: 2px solid var(--dark);
}

/*Clases para los befores, las cajitas decorativas*/
.before_fire::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--fire);
    box-shadow: 0px 0px 10px 0px var(--fire);
}
.before_water::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--water);
    box-shadow: 0px 0px 10px 0px var(--water);
}
.before_grass::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--grass);
    box-shadow: 0px 0px 10px 0px var(--grass);
}
.before_poison::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--poison);
    box-shadow: 0px 0px 10px 0px var(--poison);
}
.before_rock::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--rock);
    box-shadow: 0px 0px 10px 0px var(--rock);
}
.before_electric::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--electric);
    box-shadow: 0px 0px 10px 0px var(--electric);
}
.before_fighting::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--fighting);
    box-shadow: 0px 0px 10px 0px var(--fighting);
}
.before_steel::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--steel);
    box-shadow: 0px 0px 10px 0px var(--steel);
}
.before_ground::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--ground);
    box-shadow: 0px 0px 10px 0px var(--ground);
}
.before_fairy::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--fairy);
    box-shadow: 0px 0px 10px 0px var(--fairy);
}
.before_dragon::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--dragon);
    box-shadow: 0px 0px 10px 0px var(--dragon);
}
.before_ice::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--ice);
    box-shadow: 0px 0px 10px 0px var(--ice);
}
.before_bug::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--bug);
    box-shadow: 0px 0px 10px 0px var(--bug);
}
.before_normal::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--normal);
    box-shadow: 0px 0px 10px 0px var(--normal);
}
.before_dark::before{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: -2.5px;
    background-color: var(--dark);
    box-shadow: 0px 0px 10px 0px var(--dark);
}

/*Clases para cambiar el color de los circulos degradados del fondo en la carta grande*/
.degradado_fire{
    background: radial-gradient(var(--fire) 10px, transparent);
}
.degradado_flying{
    background: radial-gradient(var(--flying) 10px, transparent);
}
.degradado_poison{
    background: radial-gradient(var(--poison) 10px, transparent);
}
.degradado_ghost{
    background: radial-gradient(var(--ghost) 10px, transparent);
}
.degradado_steel{
    background: radial-gradient(var(--steel) 10px, transparent);
}
.degradado_ground{
    background: radial-gradient(var(--ground) 10px, transparent);
}
.degradado_rock{
    background: radial-gradient(var(--rock) 10px, transparent);
}
.degradado_grass{
    background: radial-gradient(var(--grass) 10px, transparent);
}
.degradado_water{
    background: radial-gradient(var(--water) 10px, transparent);
}
.degradado_electric{
    background: radial-gradient(var(--electric) 10px, transparent);
}
.degradado_fairy{
    background: radial-gradient(var(--fairy) 10px, transparent);
}
.degradado_psychic{
    background: radial-gradient(var(--pychic) 10px, transparent);
}
.degradado_dragon{
    background: radial-gradient(var(--dragon) 10px, transparent);
}
.degradado_ice{
    background: radial-gradient(var(--ice) 10px, transparent);
}
.degradado_bug{
    background: radial-gradient(var(--bug) 10px, transparent);
}
.degradado_normal{
    background: radial-gradient(var(--normal) 10px, transparent);
}
.degradado_fighting{
    background: radial-gradient(var(--fighting) 10px, transparent);
}
.degradado_dark{
    background: radial-gradient(var(--dark) 10px, transparent);
}