.box_big_pokemon_title{
    /*Caja del titulo que es el nombre de pokemon*/
    background-color: #D9D9D920;
    padding: 10px 20px;
    position: relative;
    animation: moveInfo 800ms ease-out normal;
}

.big_pokemon_title{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}


@keyframes moveInfo{
    0%{
        overflow: hidden;
        width: 0px;
    }
    100%{
        width: 100%;
    }
}